@import '../utils/variables';
@import '../utils/mixins';
.content-modal {
  background-color: $bg-color;
  border-radius: 6px;
  border: none;
  .header-modal {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .body-modal {
    padding: 0 32px 32px 32px;
    overflow: auto;
  }

  .footer-modal {
    width: 19rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
  }
}

.overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay-panel {
  @include flex-col;
}
