$size-1: 0.0625rem;
$size-2: 0.125rem;
$size-3: 0.1875rem;
$size-4: 0.25rem;
$size-5: 0.3125rem;
$size-6: 0.375rem;
$size-7: 0.4375rem;
$size-8: 0.5rem;
$size-9: 0.5625rem;
$size-10: 0.625rem;
$size-11: 0.6875rem;
$size-12: 0.75rem;
$size-13: 0.8125rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-16: 1rem;
$size-17: 1.0625rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-25: 1.5625rem;
$size-26: 1.625rem;
$size-28: 1.75rem;
$size-30: 1.875rem;


$main-purple: #635FC7;
$main-purple-hover: #A8A4FF;
$black: #000112;
$dark-grey: #2B2C37;
$very-dark-grey: #20212C;
$light-grey: #F4F7FD;
$medium-grey: #828FA3;
$lines-dark: #3E3F4E;
$lines-grey: #E4EBFA;
$white: #FFFFFF;
$red: #EA5555;
$red-hover: #FF9898;

